<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Results</title>
</head>
<body>
<div class="p-3 mb-2 bg-light text-dark" style="height:800px">
    <div style="height: 100px;">
        <div class="h-100 d-inline-block bold text-center" style="width: 300px; background-color: rgba(0,0,255,.1)">Alle Runden
        <!--Anzahl gespielter Runden insgesamt-->
        </div>
        <div class="h-100 d-inline-block bold text-center" style="width: 500px; background-color: rgba(0,0,255,.1)">Picks
        <!--Eine Statistik über die meistgewählten Figuren-->
        </div>
        <div class="h-100 d-inline-block bold text-center" style="width: 250px; background-color: rgba(0,0,255,.1)">Highscore
        <!--Highscore-->
        </div><br/><br/>
        <div class="h-75 d-inline-block bold text-center" style="width: 500px; background-color: rgba(0,0,255,.1)">Win-Lose-Statistik
        <!--Gesamtanzahl Gewinne und Niederlagen
        {% for x, y in points %} #Dashboard anzeige für die gewinnstatistik bzw 
        There is a point at {{ x }}, {{ y }}
        {% endfor %}-->
        </div>
        <div class="h-100 d-inline-block bold text-center" style="width: 300px; background-color: rgba(0,0,255,.1)">Stammkunden
        <!--hier die meisten Runden der Spieler absteigend-->
        </div>
    </div>
</div>
</body>
</html>