<!--https://docs.djangoproject.com/en/3.0/ref/forms/widgets/#django.forms.RadioSelect-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Start</title>
</head>
<body>
<div class="p-3 mb-2 bg-light text-dark">
    <div class="header">
        <h1>LASS UNS SPIELEN!</h1></br></br>
        <h6>Bitte wähle eine Variant</h6>
    </div>
    <div class="content">
<!--<input type="radio" name="select" id="select_{{value}}" value={{value}}> <!--wenn Variante gewählt wird, soll auf die "game.html" verwiesen werden mit der richtigen Version//wenn Papier gewählt wird, soll Papier erscheinen-->
        <div>
            <div class="uk-button-group">
                <button class="uk-button uk-button-secondary">Button</button>-->
        <img alt="none" src=".\Grafiken\Schere.svg"><img alt="none" src=".\Grafiken\Papier.svg"><img alt="none" src=".\Grafiken\Stein.svg">-->
        <input type="radio" id="v1" name="Schere-Stein-Papier " value="Classic">
        <img alt="none" src=".\Grafiken\Schere.svg"><img alt="none" src=".\Grafiken\Papier.svg"><img alt="none" src=".\Grafiken\Stein.svg">-->
        <input type="radio" id="v2" name="Schere-Stein-Papier" value="Ü18">
        <img alt="none" src=".\Grafiken\Schere.svg"><img alt="none" src=".\Grafiken\Papier.svg"><img alt="none" src=".\Grafiken\Stein.svg">-->
        <input type="radio" id="v3" name="Schere-Stein-Papier" value="Kinderfreundlich">
<!--{% for radio in myform.beatles %}
    <div class="myradio">
    {{ radio }}
    </div>
    {% endfor %}-->
    </div>
    <div class="name">
        <form>
            <label for='sname'>Bitte trage deinen Namen ein
                <input id='sname' name='sname'>
            </label>
            <label for='alter'>über 18</label>
            <input type='checkbox' id='alter' name='alter'>
            </div>
            <input type='submit' values='spielen'>

        </form>
    </div>
</div>
</body>
</html>